body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto Slab', serif;
}

#main-cont {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#header {
    text-align: center;
    margin: 30px 0;
}

#board-cont {
    display: grid;
    grid-template-columns: repeat(3, 150px);
    grid-template-rows: repeat(3, 150px);
    justify-content: center;
    gap: 16px;
}

.cells {
    text-align: center;
    border: 1px solid black;
    border-radius: 16px;
    font-size: 4em;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Grape Nuts', cursive;
}

.marks {
    display: none;
}

#myForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#resetBtn {
    margin-top: 30px;
}